@import "global";

.mode-selector {
  display: grid;
  grid-template-columns: 1fr 1fr;

  div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
  }

  button {
    color: $text-secondary;
    transition-duration: 0.3s;
  }

  .new-user-btn {
    background-color: $primary-color;
    color: white;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    svg {
      margin-right: 5px;
    }
  }

  .selected-button {
    color: $primary-color;
  }
}
